<div class="container">
  <div class="row">
    <div class="col-8 m-auto">
      <form [formGroup]="formGroupAdmin">
        <div class="mb-3">
          <div class="display-6 text-center p-3">Cadastro de Carros</div>
          <label for="title" class="form-label">Título:</label>
          <input type="text" formControlName="title" class="form-control" id="title" placeholder="Título">
          <div *ngIf="submitted && title.invalid">
            <small class="text-danger">Nome inválido!</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Descrição:</label>
          <input type="text" formControlName="description" class="form-control" id="description" placeholder="Descrição">
          <div *ngIf="submitted && description.invalid">
            <small class="text-danger">Descrição Inválida!</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Preço:</label>
          <input type="text" formControlName="price" class="form-control" id="price" placeholder="Preço">
          <div *ngIf="submitted && price.invalid">
            <small class="text-danger">Preço Inválido!</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Imagem (URL)</label>
          <input type="text" formControlName="image" class="form-control" id="image" placeholder="Imagem">
          <div *ngIf="submitted && image.invalid">
            <small class="text-danger">Endereço de Imagem inválida!</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="status" class="form-label">Status</label>
          <select class="form-control" id="status" name="status">
            <option value="ativo">Ativo</option>
            <option value="desativo">Desativo</option>
          </select>
        </div>
        <div class="mb-3 d-flex justify-content-end">
          <button class="btn btn-primary me-1" (click)="save()">Salvar</button>
          <button class="btn btn-danger" (click)="clean()">Limpar</button>
        </div>
      </form>
    </div>
  </div>

  <table class="table table-light table-striped text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Título</th>
        <th scope="col">Descrição</th>
        <th scope="col">Preço</th>
        <th scope="col">Expiração de Validade</th>
        <th scope="col">Imagem (URL)</th>
        <th scope="col">Status</th>
        <th scope="col">Concluído</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ad of ads" [ngClass]="{'completed': ad.completed}">
        <th scope="row">{{ad.id}}</th>
        <td [ngClass]="{'completed':  ad.completed}">{{ ad.title }}</td>
        <td [ngClass]="{'completed': ad.completed}">{{ ad.description }}</td>
        <td [ngClass]="{'completed': ad.completed}">{{ ad.price }}</td>
        <td [ngClass]="{'completed': ad.completed}">{{ ad.expirationDate }}</td>
        <td [ngClass]="{'completed': ad.completed}"><img src='{{ad.image}}' style="width: 100px;" alt=""></td>
        <td [ngClass]="{'completed': ad.completed}">{{ ad.status }}</td>
        <td>
          <input type="checkbox" [checked]="ad.completed" (change)="toggleCompleted(ad)">
        </td>
        <td>
          <button class="btn btn-primary me-1" (click)="edit(ad)">Editar</button>
          <button class="btn btn-danger" (click)="remove(ad)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
