<div class="container">
  <div class="row">
    <div class="col-8 m-auto">
      <form [formGroup]="formGroupAdmin">
        <div class="mb-3">
          <div class="display-6 text-center p-3">Cadastro de Carros</div>
          <label for="title" class="form-label">Título:</label>
          <input type="text" formControlName="title" class="form-control" id="title" placeholder="Título">
          <div *ngIf="submitted && title.invalid">
            <small class="text-danger">Título inválido!</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Descrição:</label>
          <input type="text" formControlName="description" class="form-control" id="description" placeholder="Descrição">
          <div *ngIf="submitted && description.invalid">
            <small class="text-danger">Descrição Inválida!</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Preço:</label>
          <input type="text" formControlName="price" class="form-control" id="price" placeholder="Preço">
          <div *ngIf="submitted && price.invalid">
            <small class="text-danger">Preço Inválido!</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="expirationDate" class="form-label">Data de Validade:</label>
          <input type="date" formControlName="expirationDate" class="form-control" id="expirationDate" placeholder="Data de Validade">
          <div *ngIf="submitted && data.invalid">
            <small class="text-danger">Data Inválida!</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Imagem (URL)</label>
          <input type="text" formControlName="image" class="form-control" id="image" placeholder="Imagem">
          <div *ngIf="submitted && image.invalid">
            <small class="text-danger">Endereço de Imagem inválida!</small>
          </div>
        </div>
        <div class="d-flex gap-2 mb-3">
          <label for="status" class="form-check-label">Status Ativo ou Desativo?</label>
          <div class="form-check">
            <input type="checkbox" formControlName="status" class="form-check-input" id="status">
          </div>
        </div>
        <div class="mb-3 d-flex justify-content-end">
          <button class="btn btn-primary me-1" (click)="save()">Salvar</button>
          <button class="btn btn-danger" (click)="clean()">Limpar</button>
        </div>
      </form>
    </div>
  </div>

  <table class="table table-light table-striped text-center">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Título</th>
        <th scope="col">Descrição</th>
        <th scope="col">Preço</th>
        <th scope="col">Expiração de Validade</th>
        <th scope="col">Imagem (URL)</th>
        <th scope="col">Status</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ad of ads">
        <th scope="row">{{ad.id}}</th>
        <td>{{ ad.title }}</td>
        <td>{{ ad.description }}</td>
        <td>{{ ad.price | currency: 'BRL': 'symbol': '1.2-2' }}</td>
        <td>{{ ad.expirationDate | date: 'dd/MM/yyyy' }}</td>
        <td><img src='{{ad.image}}' style="width: 100px;" alt=""></td>
        <td>{{ ad.status ? 'Ativo' : 'Desativo' }}</td>
        <td>
          <button class="btn btn-primary me-1" (click)="edit(ad)">Editar</button>
          <button class="btn btn-danger" (click)="remove(ad)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
